@model List<Customer>
@{
    Layout = "_Layout";
}
<h3>Customer List</h3>
<div class="row">
    <a asp-action="Create" asp-controller="Customer">Create</a>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Age</td>
                    <td><a asp-action="Update" asp-controller="Customer" asp-route-id="@item.Id">Update</a></td>
                    <td><a asp-action="Delete" asp-controller="Customer" asp-route-id="@item.Id">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>