@model DirectoryInfo[]
@{
    Layout = "_Layout";
}
<h3>Folder List</h3>
<div class="row">
    <a asp-action="Create" asp-controller="Folder">Create</a>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Folder Name</th>
                <th>CreationTime</th>
                <th>Path</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.CreationTime</td>
                    <td>@item.FullName</td>
                    <td><a asp-action="Update" asp-controller="Folder" asp-route-folderName="@item.Name">Update</a></td>
                    <td><a asp-action="Delete" asp-controller="Folder" asp-route-folderName="@item.Name">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>